/* footer.css */

.sect-footer {
    background-color: #FFFFFF; /* Couleur de fond du pied de page */
    color: #000000; /* Couleur du texte */
    padding: 20px; /* Espacement intérieur du pied de page */
  }
  
  .footer-element {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Quatre colonnes pour les sections */
    grid-gap: 20px; /* Espacement entre les sections */
  }
  
  .footer-img img {
    max-width: 100%;
    height: auto;
  }
  
  .footer-nav h1,
  .footer-contact h1,
  .footer-sociaux h1 {
    font-size: 1.5rem; /* Taille de la police des en-têtes */
    margin-bottom: 10px; /* Espacement en bas des en-têtes */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px; /* Espacement entre les éléments de la liste */
  }
  
  /* Pour afficher tous les liens en colonne */
  .footer-nav ul,
  .footer-contact ul,
  .footer-sociaux ul {
    display: flex;
    flex-direction: column;
  }
  
  a {
    color: white; /* Couleur des liens */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline; /* Effet de soulignement au survol des liens */
  }
  