/* Style de base Promotion */
.promotion{
    position: relative;
    height: 35em;
  }
  .promo-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;
    text-align: center; /* Centrer le texte dans les colonnes */
    position: relative;
    top: 2em;
  }
  .promo-title h2 {
    font-size: 24px;
    margin: 0;
  }
  .btn {
    color: #333333;
    text-align: justify;
    font-weight: bold;
  }
  .bouton2 a:hover{
    text-decoration: none;
  }
  .bouton2 {
    border-radius: 8px;
    background-color: #F4CE14;
    text-align: center;
    width:10em;
    height:2.5em;
    margin: 0 auto; /* Centrer le bouton horizontalement */
  }
  .promo-element {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;
    position: relative;
    bottom: 4em;
    text-align: center; /* Centrer le contenu dans les colonnes */
  }
  .promo-colonne{
   background-color: #FFE0E0;
  }
  .promo-colonne h2{
    color: #000000;
    position: relative;
    right: 2.5em;
   }
  .promo-colonne span{
    color: #FBB348;
    position: relative;
    left: 10em;
    bottom: 3em;
   }
   .promo-colonne p{
    position: relative;
    top: -2em;
    color: #000000;
   }
  .promo-colonne a:hover{
   text-decoration: none;
  }
  /* Style de l'image */
  .greek,.bruschetta,.dessert {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    position: relative;
    border-radius: 8px;
  }
  /* Importation des images */
  .greek {
    background-image: url('/src/greeksalad.jpg');
  }
  .bruschetta {
    background-image: url('/src/bruchetta.svg');
  }
   .dessert {
    background-image: url('/src/lemon dessert.jpg');
  }
  .promo-element div h2,
  .promo-element div span,
  .promo-element div p {
    margin: 10px 0;
  }
  /* Réactivité pour les écrans plus petits */
  @media (max-width: 768px) {
    .promo-title {
      grid-template-columns: repeat(1, 1fr);
    }
    .bouton2 {
      border-radius: 8px;
      background-color: #F4CE14;
      text-align: center;
      width:10em;
      height:2.5em;
      margin: 0 auto; /* Centrer le bouton horizontalement */
    }
    .promo-element {
      grid-template-columns: repeat(1, 1fr);
    }
    .promo-colonne span{
      color: #FBB348;
      position: relative;
      left: 5em;
      bottom: 1em;
     }
     .promo-colonne h2{
      font-size: 1em;
      position: relative;
      right: 1.5em;
     }
  }

  /* Réactivité pour les écrans plus petits encore */
  @media (max-width: 480px) {
    .promo-title h2 {
      font-size: 16px;
    }

    .bouton2 {
      width: 120px;
    }

    .promo-element {
      grid-template-columns: repeat(1, 1fr);
    }
    .promo-colonne span{
      color: #FBB348;
      position: relative;
      left: 5em;
      bottom: 2em;
     }
  }
