
/* Style de base Temoignage */
.temoignages {
    background-color: #FCF0F0;
    padding: 20px; /* Ajouter un espacement intérieur */
  }
  
  .temoignages-personne {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
  }
  
  .temoignages-personne div {
    background-color: #ffffff;
    padding: 20px; /* Ajouter un espacement intérieur */
    border-radius: 8px;
  }
  
  .temoignages-personne .content1 {
    background-image: url('/src/pers1.png');
    height: 20%;
    width: 40%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Ajuster la taille de l'image pour couvrir toute la div */
  }
  .temoignages-personne .content2 {
    background-image: url('/src/pers2.png');
    height: 20%;
    width: 40%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Ajuster la taille de l'image pour couvrir toute la div */
  }
  .temoignages-personne .content3 {
    background-image: url('/src/pers2.png');
    height: 20%;
    width: 40%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Ajuster la taille de l'image pour couvrir toute la div */
  }
  .temoignages-personne .content4{
    background-image: url('/src/pers1.png');
    height: 20%;
    width: 40%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Ajuster la taille de l'image pour couvrir toute la div */
  }
  .content1 ,.content2 ,.content3 ,.content4 ,h4{
    color: #000000;
    position: relative;
    bottom: 4em;
    text-align: center;
  }
  .content1 ,.content2 ,.content3 ,.content4{
    bottom: 4em;
  }
  .temoignages h1{
    color: #000000;
    text-align: center;
  }
  .content1 ,.content2 ,.content3 ,.content4, p{
    text-align: center;
    color: #000000;
    position: relative;
    top: 2em;
  }
  
  /* Réactivité pour les écrans plus petits */
  @media (max-width: 768px) {
    .temoignages{
      position: relative;
      bottom: -57em;
      grid-template-columns: repeat(2, 1fr); /* Deux colonnes au lieu de quatre */
    }
  
    .temoignages-personne .content1 {
      background-image: url('/src/pers1.png');
      height: 20%;
      width: 40%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%; /* Ajuster la taille de l'image pour couvrir toute la div */
    }
    .temoignages-personne .content2 {
      background-image: url('/src/pers2.png');
      height: 20%;
      width: 40%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%; /* Ajuster la taille de l'image pour couvrir toute la div */
    }
    .temoignages-personne .content3 {
      background-image: url('/src/pers2.png');
      height: 20%;
      width: 40%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%; /* Ajuster la taille de l'image pour couvrir toute la div */
    }
    .temoignages-personne .content4{
      background-image: url('/src/pers1.png');
      height: 20%;
      width: 40%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%; /* Ajuster la taille de l'image pour couvrir toute la div */
    }
    .content1 ,.content2 ,.content3 ,.content4 ,h4{
      color: #000000;
      position: relative;
      bottom: 4em;
      text-align: center;
    }
    .content1 ,.content2 ,.content3 ,.content4{
      bottom: 4em;
    }
    .temoignages h1{
      color: #000000;
      text-align: center;
    }
    .content1 ,.content2 ,.content3 ,.content4, p{
      text-align: center;
      color: #000000;
      position: relative;
      top: 2em;
    }
  }
  
  /* Réactivité pour les écrans plus petits encore */
  @media (max-width: 480px) {
    .temoignages-personne {
      grid-template-columns: repeat(4, 1fr); /* Une colonne pour les écrans très petits */
    }
  
    .temoignages-personne h4 {
      font-size: 18px; /* Réduire davantage la taille de la police */
    }
  
    .temoignages-personne p {
      font-size: 14px; /* Réduire davantage la taille de la police */
    }
  }
  